@import '~normalize.css/normalize';
@import 'base';

html {
  box-sizing: border-box;
}

html,
body {
  background: #F0F4F5;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import 'button';
@import 'form';
@import 'component';
@import 'helper';